<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <diagnostics performanceCounters="Default">
            <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true"
                logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"
                maxMessagesToLog="1000000" maxSizeOfMessageToLog="2621440" />
        </diagnostics>
        <bindings>
            <basicHttpsBinding>
                <binding name="HttpsBinding" maxBufferSize="655360" maxReceivedMessageSize="655360" />
            </basicHttpsBinding>
        </bindings>
    </system.serviceModel>
</configuration>